<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <ul>
        <li>
          <a href="{{url_for('home')}}">
            <img
              style="width: 100px; height: 100px; border-radius: 50%"
              src="{{url_for('static', filename='logo.png')}}"
            />
          </a>
        </li>
      </ul>
      <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('profile')}}">{{current_user.username}}</a></li>
        <li><a href="{{url_for('logout')}}">Logout</a></li>
        {% else %}
        <li><a href="{{url_for('login')}}">Login</a></li>
        <li><a href="{{url_for('register')}}">Register</a></li>
        {% endif %}
      </ul>
    </header>
    <main class="container">
      <div style="width: 100%">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %} {% endif %} {% endwith %}
      </div>
      <div>{% block content %} {% endblock content %}</div>
    </main>
    <footer>
      <p>&copy; 2024 SocialMedia</p>
    </footer>
  </body>
</html>
