{% extends 'base.html' %} {% block content %}
<div class="form-container">
  <form method="post">
    {{form.hidden_tag()}}
    <h2 class="label">Login</h2>
    <div class="form-group">
      <div class="form-email">{{form.email.label}}{{form.email}}</div>
      <div class="form-pass">{{form.password.label}}{{form.password}}</div>
      <div style="margin: 5px 0">
        {{form.remember(style="width:20px;
        margin-right:5px;")}}{{form.remember.label}}
      </div>
      <div class="form-submit">{{form.submit}}</div>
    </div>
  </form>
</div>
{% endblock content %}
