{% extends "base.html" %} {% block content %}
<div class="section card" style="margin-top: 20px">
  <h3 class="card-title">{{ post.title }}</h3>
  <p class="card-content">{{ post.content }}</p>
  <p class="card-author">Posted By: {{post.author.username}}</p>
  <p class="card-date">Posted On: {{post.date_posted.strftime('%Y-%m-%d')}}</p>
  <hr style="margin-top: 5px" />
  <div style="display: flex; gap: 15px; margin-top: 5px">
    {% if post.author == current_user %} {% endif %}
    <form action="{{url_for('like_post', post_id=post.id )}}" method="post">
      <button
        type="submit"
        style="
          border: none;
          outline: none;
          font-size: large;
          background-color: transparent;
        "
      >
        👍
      </button>
    </form>
    {{ likes }}
    <form
      style="margin-left: auto"
      action="{{url_for('update_post', post_id=post.id)}}"
      method="get"
    >
      <input
        type="submit"
        value="Update"
        style="
          color: black;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: large;
        "
      />
    </form>
    <form action="{{url_for('delete_post', post_id=post.id)}}" , method="post">
      <input
        type="submit"
        value="Delete"
        style="
          color: black;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;
          font-size: large;
        "
      />
    </form>
  </div>
</div>
<div class="form-container">
  <form action="{{url_for('new_comment', post_id=post.id)}}" method="post">
    {{form.hidden_tag()}}
    <h3>Add Comment</h3>
    <div class="form-group">
      <div class="form-username">{{form.content.label}}{{form.content}}</div>
      <div class="form-submit">{{form.submit}}</div>
    </div>
  </form>
</div>
<div class="section card">
  <h3>Comments</h3>
  {% for comment in post.comments %}
  <div class="section card">
    <p class="card-content">{{ comment.content }}</p>
    <p class="card-author">By: {{ comment.author.username }}</p>
    <p>Posted On: {{post.date_posted.strftime('%Y-%m-%d')}}</p>
    <hr style="margin-top: 5px" />
    {% if comment.author == current_user %}
    <div style="display: flex; gap: 10px; margin-top: 5px">
      <form
        action="{{url_for('update_comment', comment_id=comment.id)}}"
        method="get"
      >
        <input
          type="submit"
          value="Update"
          style="
            color: black;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: large;
          "
        />
      </form>
      <form
        action="{{url_for('delete_comment', post_id=post.id, comment_id=comment.id)}}"
        method="post"
      >
        <input
          type="submit"
          value="Delete"
          style="
            color: black;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: large;
          "
        />
      </form>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock content %}
