{% extends 'base.html' %} {% block content %}
<div class="form-container">
  <form method="post" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <h2 class="label">Profile</h2>
    <img
      src="{{ image_file }}"
      alt="profile picture"
      style="width: 100px; height: 100px; border-radius: 50%; margin: 10px"
    />
    <div class="form-group">
      <div class="form-username">{{form.picture.label()}}{{form.picture}}</div>
      {% if form.picture.errors %} {% for error in form.picture.errors %}
      <div class="form-error">{{error}}</div>
      {% endfor %} {% endif %}
      <div class="form-username">
        {{form.username.label()}}{{form.username}}
      </div>
      {% if form.username.errors %} {% for error in form.username.errors %}
      <div class="form-error">{{error}}</div>
      {% endfor %} {% endif %}
      <div class="form-email">{{form.email.label()}}{{form.email}}</div>
      {% if form.email.errors %} {% for error in form.email.errors %}
      <div class="form-error">{{error}}</div>
      {% endfor %} {% endif %}
      <div class="form-submit">{{form.submit()}}</div>
    </div>
  </form>
</div>
{% endblock content %}
